*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container{
  max-width: 1280px !important;
}

:root{
  --primary: #0f6efc;
  --black: #000000;
  --blue: #15348e;
  --dark: #1d1d25;
  --danger: #f0506e;
  --info: #3498db;
  --warning: #f1c40f;
  --success: #07bc0c;
  --gray: #8c959c;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &-primary{
    color: #fff;
    background: var(--primary);
    border-color: var(--primary);
  }

  &-danger{
    color: #fff;
    background: var(--danger);
    border-color: var(--danger);
  }

  &-success{
    color: #fff;
    background: var(--success);
    border-color: var(--success);
  }

  &-warning{
    color: #fff;
    background: var(--warning);
    border-color: var(--warning);
  }

  &-info{
    color: #fff;
    background: var(--info);
    border-color: var(--info);
  }

  &-dark {
    color: #fff;
    background: var(--dark);
    border-color: var(--dark);
  }

  &-sm{
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
  }

  &-lg{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  &.disabled,
  &:disabled{
    pointer-events: none;
    opacity: .65;
  }

  &:active{
    transform: translateY(1px);
  }


  &-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
    &:hover{
      color: #fff;
      background: var(--primary);
    }
  }
  &-outline-danger{
    color: var(--danger);
    border-color: var(--danger);
    &:hover{
      color: #fff;
      background: var(--danger);
    }
  }
  &-outline-success{
    color: var(--success);
    border-color: var(--success);
    &:hover{
      color: #fff;
      background: var(--success);
    }
  }
  &-outline-warning{
    color: var(--warning);
    border-color: var(--warning);
    &:hover{
      color: #fff;
      background: var(--warning);
    }
  }
  &-outline-info{
    color: var(--info);
    border-color: var(--info);
    &:hover{
      color: #fff;
      background: var(--info);
    }
  }

}

.rounded{
  border-radius: 0.25rem!important;
  &-pill{
    border-radius: 50rem!important;
  }
}

.border{
  border: 1px solid #dee2e6;

  &-primary{
    border-color: var(--primary) !important;;
  }

  &-danger{
    border-color: var(--danger) !important;;
  }

  &-success{
    border-color: var(--success) !important;;
  }

  &-warning{
    border-color: var(--warning) !important;;
  }

  &-info{
    border-color: var(--info) !important;;
  }
}

.form-select{
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none;
}

.form-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus{
    outline: 0;
    border-color: #0f6efc;
    box-shadow: 0 0 0 0.2rem rgba(51, 128, 229, 0.25);
  }
}
.form-label {
  margin-bottom: .5rem;
  display: inline-block;
}
.container-small{
  max-width: 700px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-min{
  max-width: 350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(47, 47, 47, 0.7);
}

.h-100{
  height: 100%;
}


.checkbox-group input {
  display: none;
}
.checkbox-group label {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: .5rem;
}
label {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  cursor: pointer;
}
label .checkbox {
  width: 18px;
  height: 18px;
  background: #ccc;
  border-radius: 4px;
  position: relative;
  transition: .2s ease;
  transition-delay: .2s;
}
label .checkbox::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff;
  border-radius: 2.5px;
  transition: .2s ease;
  transition-delay: .2s;
}
.checkbox-group input:checked + .checkbox::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  transition-delay: 0s;
}
.checkbox-group input:checked + .checkbox {
  background: var(--dark);
  transition-delay: 0s;
}
label .checkbox .check {
  display: block;
  width: 10px;
  height: 6px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%) rotateZ(-45deg);
}
label .checkbox .check::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background: #fff;
  transition: .2s ease;
  transition-delay: .2s;
}
label .checkbox .check::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .2s ease;
  transition-delay: 0s;
}
.checkbox-group input:checked + .checkbox .check::before {
  height: 100%;
  transition-delay: .2s;
}
.checkbox-group input:checked + .checkbox .check::after {
  width: 100%;
  transition-delay: .4s;
}


.y{
  margin-left: 1.5rem;
}


.dropdown {
  position: relative;
  &-btn {
    cursor: pointer;
  }
  &-content{
    top: 140%;
    padding: .75rem;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 8%);
    background: #fff;
    position: absolute;
    right: 0;
    border-radius: .25rem;
  }
  &-item + &-item{
    margin-top: .5rem ;
  }
  &-item{
    font-size: 1.1rem;
    cursor: pointer;
  }
}