.section{
  min-height: 100vh;
  background: rgb(255,255,255);
 // background: linear-gradient(180deg, rgba(255,255,255,1) 90%, rgba(21,52,142,1) 90%);
  //position: relative;
}

a{
  display: inline-block;
  text-decoration: none;
  color: var(--black);
}
.logo{
  font-size: 2rem;
  font-weight: 500;
  width: 70px;
  height: 70px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.nav{
  padding: .3rem 0;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 5%);

  &-link{
    background: linear-gradient(var(--primary), var(--primary)) 0% 100% no-repeat;
    padding: 0.2rem 0;
    background-size: 0 2px;
    transition: .3s all ease;
    &:hover{
      background-size: 100% 2px;
    }
  }

  ul{
    list-style: none;

    li + li {
      margin-left: 1.8rem;
    }

  }
}

.main{
  //background: url("https://i.hh.ru/webpackBuild/e6eb1b60499e15b7ea2f.svg") center no-repeat;
  //background-size: cover;

}

.header{
  h1{
    font-size: 4rem;
    text-align: center;
    line-height: 1;
    color: var(--black);
  }
  p{
    font-size: 1.1rem;
    color: var(--black);
    text-align: center;
  }
}

.filter-tabs{
  //position: absolute;
  //bottom: 4%;
  //left: 50%;
  //transform: translateX(-50%);
  //width: 100%;
  .card{
    &:hover{
      transform: translateY(-10px);
    }
    cursor: pointer;
    text-align: center;
    transition: .3s all ease;
    h2{
      color: var(--black);
      font-size: 2rem;
    }
    p{
      color: var(--dark);
    }
  }
}

.card{
  padding: 1.2rem;
  border-radius: .25rem;
  background: #fff;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 8%);
  &.active{
    background: var(--primary);
    h2,
    p{
      color: #fff;
    }
  }
}

.search{
  &-input{
    border-radius: 50rem;
    border: 1px solid var(--dark);
    height: 40px;
    display: block;
    width: 100%;
    padding: 0 1rem;
    outline: 0;
    &:focus{
      border-color: var(--black) !important;
    }
  }
  .btn{
    width: 100%;
  }
}


.table{
  overflow-x: auto;
  table{
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td{
    padding: .75rem;
    text-align: left;
    vertical-align: middle;
    color: var(--dark);
    font-weight: 400;
    font-size: .95rem;
  }
  .img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  th{
    font-size: 1rem;
    color: #818181;
    font-weight: 500;
    border-bottom: 1px solid rgba(201, 201, 201, 0.5);
  }

  tr{
    white-space: nowrap;
    &:last-child{
      td{
        border: 0;
      }
    }
  }

  tbody tr{
    border-radius: 1.25rem;
    transition: .4s all ease;
    &:hover{
      background: rgba(255, 255, 255, 0.03);
    }
  }

  &.contacts {

  }
}

.catalog{
  &-items{

  }
  &-item{
    min-height: 200px;
  }
  &-image{
    width: 200px;
    height: auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .title{
    font-size: 1.3rem;
    font-weight: 400;
    background: linear-gradient(var(--primary), var(--primary)) 0% 100% no-repeat;
    padding: 0.2rem 0;
    background-size: 0 2px;
    transition: .3s all ease;
    display: inline-block;
    &:hover{
      background-size: 100% 2px;
    }
  }
  .info-block{
    height: auto;

    p{
      max-width: 450px;
      color: var(--dark);
      font-size: .8rem;
    }

    ul{
      list-style: none;
      font-size: .75rem;
      color: var(--gray);
    }
  }
}

.suppliers{
  &-search{
    &-header{
      font-size: 1.15rem;
      font-weight: 500;
      letter-spacing: -0.7px;
    }
    &-tabs{
      .btn + .btn {
        margin-left: 0.7rem;
      }
    }
  }
}

.product{
  &-img{
    width: 312px;
    height: 312px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .title{
    font-size: 1.8rem;
    font-weight: 400;
    display: inline-block;
  }
  .subtitle{
    font-size: 1rem;
    font-weight: 400;
  }
  .info-block{
    p{
      font-size: .85rem;
      color: var(--gray);
    }
    ul{
      line-height: 2;
      list-style: none;
      font-size: 1rem;
      color: var(--gray);
    }
  }
  &-tabs{
    .item{
      cursor: pointer;
      &.active{
        background: var(--primary);
        color: #fff;
      }
    }
  }
}

.profile {
  &-close {
    position: absolute;
    top: 1.5rem;
    background: var(--dark);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &-menu{
    left: 0;
    max-width: 18rem;
    background: #f5f7f9;
    transition: .4s all ease;
    .profile-close {
      right: 0;
      transform: translate(50%, 0%);
    }
    .logo{
      transition: .4s all ease;
    }
    &-content {
      overflow-y: auto;
    }
    &-link{
      display: block;
      padding: 1rem 1rem;
      border-radius: .25rem;
      color: #1f1c3b;
      font-size: 1.15rem;
      font-weight: 500;
      transition: .5s all ease;
      &:hover {
        color: #fff;
        background: #1f1c3b;
      }
    }
    &-hidden{
      transition: .4s all ease;
      transform: translateX(0) scale(1);
      transition-delay: .4s;
      opacity: 1;
    }
    &.hidden {
      padding: 1rem !important;
      max-width: 5rem;
      .logo {
        width: 2.5rem;
        height: 2.5rem;
      }
      .profile{
        &-menu-hidden {
          transition-delay: 0s;
          transform: translateX(-100%) scale(0);
          opacity: 0;
        }
      }
      & + .profile-main {
        margin-left: 5rem;
      }
    }
    ul {
      li + li {
        margin-top: .75rem;
      }
    }
  }
  &-menu,
  &-sidebar{
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    transition: .4s all ease;
    z-index: 999;
  }
  &-sidebar{
    .profile{
      &-close {
        left: 0;
        transform: translate(-50%, 0%);
        svg{
        transform: rotate(180deg);
      }
      }
    }
    background: #fff;
    max-width: 22rem;
    border-left: 1px solid #dedede;
    &.hidden {
      max-width: 5rem;
      .profile{
        &-close {
          svg {
            transform: rotate(0);
          }
        }
        &-sidebar{
          &-hidden {
            opacity: 0;
            transition-delay: 0s;
            transform: translateX(100%) scale(0);
          }
        }
      }
    }
    right: 1px;
    &-hidden {
      transition: .4s all ease;
      opacity: 1;
      transition-delay: .4s;
      transform: translateX(0) scale(1);
    }
    &-title{

      h2 {
        font-size: 1.2rem;
        color: #1d1d25;
      }
    }
    &-content{
      overflow-y: auto;
      overflow-x: hidden;
    }
    &-user{

    }
    &-avatar {
      width: 8rem;
      height: 8rem;
      padding: .5rem;
      border: 1px solid var(--gray);
      border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-name {
      font-size: 1.3rem;
      color: #1d1d25;
      font-weight: 500;
      text-align: center;
    }
  }
  &-main {
    &.menu-hidden {
      margin-left: 4rem;
    }
    margin-left: 20rem;
    margin-right: 3.5rem;
    transition: .4s all ease;
    &-title{
      color: var(--dark);

    }
    &-card {
      padding: 1.2rem;
      border-radius: .25rem;
      &.one {
        background: #e1e2f6;
        .count {
          color: #9396d5;
        }
      }
      &.two {
        background: #f8efe2;
        .count {
          color: #d7bf9c;
        }
      }
      &.three {
        background: #eff7e2;
        .count {
          color: #a7bd84;
        }
      }
      .title {
        font-size: 1.35rem;
        font-weight: 700;
        color: var(--dark);
      }
      .count {
        font-size: 3rem;
        font-weight: 800;
      }
    }
  }
  &-filter,
  &-table{
    .title {
      font-size: 1.35rem;
      font-weight: 600;
      color: var(--dark);
    }
  }
}

.footer{
  margin-top: auto;
  background: var(--dark);
  color: #fff;
  text-align: center;
}



@media (max-width: 1200px) {
  .profile {
    &-main {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    &-sidebar{
      &.hidden {
        .profile-main {
          margin-left: 5rem;
        }
      }
    }
  }
}